- Nodejs Restful Restful API開發
- 關聯式資料庫語法
- Reactjs
- CSS/HTML
- 原始程式碼版本控制
- DevOps和CI/CD
- Nodejs Restful Restful API 開發
- 關聯式資料庫語法
- 熟悉JavaScript程式撰寫。
- 熟悉SQL|NoSQL Database設計、開發、測試。
- RESTful API 設計及實作經驗與後端 API 開發經驗。
- Express framework、 VueJS等。
