<?xml version="1.0" encoding="utf-8"?>

<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請造訪
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <!--<add name="C501_04ConnectionString" connectionString="Data Source=192.168.1.221;Initial Catalog=C501_04;Persist Security Info=True;User ID=C501_04;Password=C501_04"
        providerName="System.Data.SqlClient" />
    <add name="APPSYSConnectionString" connectionString="Data Source=192.168.1.221;Initial Catalog=C501_04;User ID=C501_04;Password=C501_04"
            providerName="System.Data.SqlClient" />-->
    <add name="C501_04ConnectionString" connectionString="Data Source=DESKTOP-DPJJ7RL\SQLEXPRESS;Integrated Security=False;User ID=MoreGrid;Password=!QAZ@WSX;Connect Timeout=3600;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
    <add name="APPSYSConnectionString" connectionString="Data Source=DESKTOP-DPJJ7RL\SQLEXPRESS;Integrated Security=False;User ID=MoreGrid;Password=!QAZ@WSX;Connect Timeout=3600;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
      <customErrors mode="Off" />
    </system.web>
  
  <location path="GoodsManage.aspx">
    <system.web>
      <httpRuntime requestValidationMode="2.0" />
      <pages validateRequest="false" />
    </system.web>
  </location>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="login.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
